$bg-color:#fff;
$text_color:#333;
$header-teal-color:teal;
$bg-gray:#f2f2f2;
$primary_color: #8490ff;
body{
  margin: 0;
  font-family: "Poppins", sans-serif;
  background: linear-gradient(135deg, #FFD700, #fff);
  color: #2E2E2E;
  text-align: center;
  min-height: 100vh;
}

.main-notice-section {
  background-color: var(--bg);
  padding: 3rem 0;
  margin-left: 3rem;
  overflow: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 2vw;
}
.notice-container {
  display: flex;
  top: 0;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
}
.notice-bord,
.event-card {
    width: 50%;
    margin-bottom: 2rem;
}
.notice-bord {
  background-color: #f5f5f5;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-top: 1%;
 
}
.notice-bord h2 {
  color: $primary_color;
  margin-bottom: 1.5rem;
  font-size: 1.75rem;
  margin-left: 5rem;
}
.notice-bord li {
  padding: 10px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 1rem;
  list-style: none;
  // border: 2px solid red;
  cursor: pointer;

  .new-text{
    color: red;
  }
}
.notice-bord li p {
  margin: 0;
  color: $text_color;
}
.event-card {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.event-card .event-heading {
  color: var(--header-green-color);
  margin-bottom: 1.5rem;
  font-size: 1.75rem;
  text-align: center;
}
.event-details {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.event {
  width: 50%;
  background-color: #ffffff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 1rem;
  animation: fadeInUp 1s ease forwards;
  transition: transform 0.3s ease, 
                box-shadow 0.3s ease, 
                background-color 0.3s ease;
  cursor: pointer;
}
.event:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  background-color: #1bf346;
  color: #fff;
}
.event h3 {
  color: var(--secondary-color);
  margin-bottom: 0.5rem;
}
.event p {
  margin-bottom: 0.5rem;
}

@media screen and (max-width: 768px) {
  .notice-container {
      flex-direction: column;
  }

  .notice-bord,
  .event-card {
      width: calc(100% - 20px);
      margin-left: auto;
      margin-right: auto;
  }

  .event-card {
      margin-top: 2rem;
  }
}
