$burger-color:#272727;
$primary-color: #2c3e50;
$secondary-color: #1abc9c;
@mixin transition-ease{
  transition: all 0.5s ease-in-out;
}

/* General Styles */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background: #f4f4f9;
  color: #333;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.about {
  padding: 2rem;
  flex: 1;
  margin: 6rem auto;

  &__header {
    margin-top: 5%;
    text-align: center;

    &__text {
      font-size: 2.5rem;
      color: #004d40;
    }
  }

  &__name {
    &__text {
      text-align: center;
      font-size: 2rem;
      margin-top: 1rem;
    }

    &__container {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 2rem auto;
      max-width: 800px;
      background: #fff;
      padding: 2rem;
      border-radius: 12px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

      &__paragraph {
        line-height: 1.6;
        font-size: 1.5vw;
      }
      &__image{
        background-image: url('../Images/PXL_20250127_085141915.PORTRAIT.ORIGINAL.jpg');
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        width: 100%;
        height: 40vh;
        border-radius: 10px;

        &:hover{
          transform: scale(1.01);
          transition: all ease-in-out 1s;
        }
      }
    }
  }
}
.seebtn{
  width: 20vw;
  height: 8vh;
  font-size: 2vw;
  align-items: center;
  margin-left: 45%;
  margin-bottom: 2%;
  border-radius: 10px;
  background-color: indigo;
  font-weight: 500;
  color: #fff;

  &:hover{
    background-color: limegreen;
    transition: all 1s ease-in-out;
    color: indigo;
  }
}


.about__name__division {
  p {
    background: #e0f2f1;
    padding: 1rem;
    border-radius: 8px;
  }
}


.footer {
  text-align: center;
  padding: 1rem 1rem;
  background: rgb(21, 34, 78);
  color: #fff;
  margin-top: auto;
  width: 100%;
  margin-left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;

  .footer__links {
    display: flex;
    gap: 1.5rem;
    margin-bottom: 1rem;

    a {
      color: #ffd54f;
      text-decoration: none;
      transition: color 0.3s;

      &:hover {
        color: #fff;
      }
    }
  }

  p {
    margin: 0;
  }
}

/* Responsive Design */
@media (max-width: 768px) {
 .about{
    padding: 2rem;
    flex: 1;
  
    &__header {
      margin-top: 35%;
      text-align: center;
  
      &__text {
        font-size: 2rem;
        color: #004d40;
      }
    }
  }
  .seebtn{
    width: 70%;
    transform: translateX(-50%);
    font-size: 4.5vw;
    font-weight: 600;
  }
  .about__name__container {
    padding: 1rem;

    p {
      // background: #e0f2f1;
      padding: 1rem;
      border-radius: 8px;
      font-size: 2.2vw;
    }
  }
  .footer {
    padding: 1rem 0.5rem;
    background-color: rgb(21, 34, 78);
    .footer__links {
      flex-direction: column;
      gap: 0.5rem;
    }
  }
}
