body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  display: flex;
  margin-top: 0;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background: rgb(21, 34, 78);
  padding: 1rem 2rem;
  color: #fff;
  position: fixed;
  top: 0; /* Ensure the header is at the top */
  z-index: 2;
  width: 100%; /* Full-width */
  overflow: hidden;
}
.header__nav__menu {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 3vw;
  margin-right: 25%;
  list-style: none;
}
.header__nav__menu__item {
  font-size: 1.5vw;
  font-weight: 500;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}

.search-bar {
  margin-bottom: 20px;
}

.search-bar input[type=text] {
  padding: 8px;
  width: 80%;
  max-width: 400px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.search-bar button {
  padding: 8px;
  background: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.search-bar button:hover {
  background: #0056b3;
}

.media-item {
  width: 100%;
  max-width: 600px;
  background: #f9f9f9;
  margin-bottom: 20px;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.media-item img, .media-item video {
  width: 100%;
  border-radius: 10px;
}

.media-title {
  font-size: 1.5rem;
  font-weight: bold;
  margin: 10px 0;
}

.media-description {
  margin-bottom: 10px;
}

.comments-section {
  margin-top: 20px;
}

.comment {
  background: #fff;
  padding: 8px;
  margin-top: 5px;
  border-radius: 5px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.05);
}

form {
  display: flex;
  flex-direction: column;
}

input[type=text] {
  padding: 8px;
  margin-top: 5px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

button {
  padding: 8px;
  background: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 5px;
}

button:hover {
  background: #0056b3;
}

footer {
  background: #007bff;
  color: white;
  text-align: center;
  padding: 10px 0;
  margin-top: 20px;
}

@media (max-width: 768px) {
  .header {
    height: 10vh;
    display: flex;
    justify-content: center;
    width: 88%;
    align-items: center;
    background-color: rgb(21, 34, 78);
    right: 3%;
    left: 0;
  }
  .header__logo {
    display: block;
    align-items: right;
    position: absolute;
    z-index: 3;
    right: 1rem;
    top: 1rem;
    height: 20px;
    width: 28px;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
  }
  .header__logo__burger {
    display: block;
    position: absolute;
    right: 0;
    top: 0.5rem;
    width: 28px;
    height: 3px;
    background-color: white;
    transition: all 0.5s ease-in-out;
    z-index: 2;
  }
  .header__logo__burger::before {
    content: "";
    position: absolute;
    top: -8px;
    width: 28px;
    height: 3px;
    background-color: white;
    transition: all 0.5s ease-in-out;
  }
  .header__logo__burger::after {
    content: "";
    position: absolute;
    top: 8px;
    width: 28px;
    height: 3px;
    background-color: white;
    transition: all 0.5s ease-in-out;
  }
  .header__logo__burger.open {
    transform: rotate(720deg);
    background: transparent;
  }
  .header__logo__burger.open::before {
    transform: rotate(45deg) translate(5px, 8px);
  }
  .header__logo__burger.open::after {
    width: 28px;
    transform: rotate(-45deg) translate(3px, -7px);
  }
  .header__nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    opacity: 0.98;
    visibility: hidden;
  }
  .header__nav.open {
    visibility: visible;
  }
  .header__nav__menu {
    margin-left: 30%;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: right;
    width: 70vw;
    height: 100vh;
    gap: 0.3vh;
    overflow: hidden;
    background-color: rgb(21, 34, 78);
    list-style-type: none;
    padding-right: 1rem;
    transform: translateY(-100%);
    transition: all 0.5s ease-in-out;
  }
  .header__nav__menu.open {
    transform: translateY(0);
  }
  .header__nav__menu__item {
    transform: translateX(100vw);
    transition: all 0.5s ease-in-out;
  }
  .header__nav__menu__item.open {
    transform: translateX(0);
  }
  .header__nav__menu__item.active > a {
    color: #1abc9c;
  }
  .header__nav__menu__item__link {
    width: auto;
    display: inline-block;
    font-size: 1rem;
    text-transform: uppercase;
    padding: 0.6rem 0;
    font-weight: 600;
    transition: all 0.5s ease-in-out;
  }
  .header__nav__menu__item__link:hover {
    color: #1abc9c;
  }
  .header__nav__menu__item:nth-child(1) {
    transition-delay: 0.25s;
  }
  .header__nav__menu__item:nth-child(2) {
    transition-delay: 0.35s;
  }
  .header__nav__menu__item:nth-child(3) {
    transition-delay: 0.45s;
  }
  .header__nav__menu__item:nth-child(4) {
    transition-delay: 0.55s;
  }
  .header__nav__menu__item:nth-child(5) {
    transition-delay: 0.65s;
  }
  .header__nav__menu__item:nth-child(6) {
    transition-delay: 0.75s;
  }
}/*# sourceMappingURL=media.css.map */