body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  background: linear-gradient(135deg, #FFD700, #fff);
  color: #2E2E2E;
  text-align: center;
  min-height: 100vh;
  text-decoration: none;
}

.main-header {
  margin-top: 10%;
  background-color: #FFD700;
  padding: 2rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
  color: #fff;
}

.header {
  display: flex;
  margin-top: 0;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background: rgb(21, 34, 78);
  padding: 1rem 2rem;
  color: #fff;
  position: fixed;
  top: 0; /* Ensure the header is at the top */
  z-index: 2;
  width: 100%; /* Full-width */
  overflow: hidden;
}
.header__nav__menu {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 3vw;
  margin-right: 25%;
  list-style: none;
}
.header__nav__menu__item {
  font-size: 1.5vw;
  text-decoration: none;
  font-weight: 500;
}
.header__nav__menu__item__link {
  text-decoration: none;
  font-size: 2vw;
  color: white;
  transition: color 0.5s ease;
}
.header__nav__menu__item__link:hover {
  color: #4CAF50;
  transition: all ease-in-out 0.5s;
}

.form-section, .contact-section {
  margin: 2rem auto;
  max-width: 500px;
  background: rgb(237, 238, 240);
  padding: 2rem;
  border-radius: 15px;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.2);
}

.form-section form, .contact-section form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.form-section form input, .form-section form textarea, .contact-section form input, .contact-section form textarea {
  padding: 1rem;
  border: none;
  border-radius: 10px;
  font-size: 1rem;
  color: #2E2E2E;
}

.form-section form button, .contact-section form button, .admin-login form button {
  padding: 1rem;
  border: none;
  border-radius: 10px;
  background-color: #4CAF50;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s;
}

.form-section form button:hover, .contact-section form button:hover, .admin-login form button:hover {
  background-color: #3d8b40;
}

.main-footer {
  margin-top: auto;
  padding: 1rem;
  background: rgb(21, 34, 78);
  color: #fff;
}

.contacts__footer {
  background-color: rgb(21, 34, 78);
  color: white;
  padding: 1rem 0;
  margin-top: 3rem;
}

.contacts__footer__container {
  display: flex;
  justify-content: space-between;
  padding: 0 2rem;
}

.contacts__footer__container__column {
  flex: 1;
  padding: 1rem;
}
.contacts__footer__container__column ul {
  list-style-type: none;
}

.contacts__footer__container__column h3 {
  font-size: 1.2rem;
  margin-bottom: 1rem;
}

.contacts__footer__container__column a {
  display: block;
  margin-bottom: 0.5rem;
  color: white;
  text-decoration: none;
  transition: color 0.3s ease;
}

.contacts__footer__container__column a:hover {
  color: #ffcc00;
}

.contacts__footer__button {
  text-align: center;
  font-size: 0.9rem;
  padding: 1rem;
}

@media (max-width: 600px) {
  .form-section, .contact-section, .admin-login {
    width: 90%;
  }
}
@media screen and (max-width: 768px) {
  .header {
    height: 10vh;
    display: flex;
    justify-content: center;
    width: 88%;
    align-items: center;
    background-color: rgb(21, 34, 78);
    right: 3%;
    left: 0;
  }
  .header__logo {
    display: block;
    align-items: right;
    position: absolute;
    z-index: 3;
    right: 1rem;
    top: 1rem;
    height: 20px;
    width: 28px;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
  }
  .header__logo__burger {
    display: block;
    position: absolute;
    right: 0;
    top: 0.5rem;
    width: 28px;
    height: 3px;
    background-color: white;
    transition: all 0.5s ease-in-out;
    z-index: 2;
  }
  .header__logo__burger::before {
    content: "";
    position: absolute;
    top: -8px;
    width: 28px;
    height: 3px;
    background-color: white;
    transition: all 0.5s ease-in-out;
    transform: translateX(-50%);
  }
  .header__logo__burger::after {
    content: "";
    position: absolute;
    top: 8px;
    width: 28px;
    height: 3px;
    background-color: white;
    transition: all 0.5s ease-in-out;
    transform: translateX(-50%);
  }
  .header__logo__burger.open {
    transform: rotate(720deg);
    background: transparent;
  }
  .header__logo__burger.open::before {
    transform: rotate(45deg) translate(5px, 8px);
  }
  .header__logo__burger.open::after {
    width: 28px;
    transform: rotate(-45deg) translate(3px, -7px);
  }
  .header__nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    opacity: 0.98;
    visibility: hidden;
  }
  .header__nav.open {
    visibility: visible;
  }
  .header__nav__menu {
    margin-left: 30%;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: right;
    width: 70vw;
    height: 100vh;
    gap: 0.3vh;
    overflow: hidden;
    background-color: rgb(21, 34, 78);
    list-style-type: none;
    padding-right: 1rem;
    transform: translateY(-100%);
    transition: all 0.5s ease-in-out;
  }
  .header__nav__menu.open {
    transform: translateY(0);
  }
  .header__nav__menu__item {
    transform: translateX(100vw);
    text-decoration: none;
    transition: all 0.5s ease-in-out;
  }
  .header__nav__menu__item.open {
    transform: translateX(0);
  }
  .header__nav__menu__item__link {
    color: white;
    font-weight: 500;
  }
  .header__nav__menu__item.active > a {
    color: #2E2E2E;
  }
  .header__nav__menu__item__link {
    width: auto;
    display: inline-block;
    font-size: 1rem;
    text-transform: uppercase;
    padding: 0.6rem 0;
    font-weight: 600;
    transition: all 0.5s ease-in-out;
  }
  .header__nav__menu__item__link:hover {
    color: #2E2E2E;
  }
  .header__nav__menu__item:nth-child(1) {
    transition-delay: 0.25s;
  }
  .header__nav__menu__item:nth-child(2) {
    transition-delay: 0.35s;
  }
  .header__nav__menu__item:nth-child(3) {
    transition-delay: 0.45s;
  }
  .header__nav__menu__item:nth-child(4) {
    transition-delay: 0.55s;
  }
  .header__nav__menu__item:nth-child(5) {
    transition-delay: 0.65s;
  }
  .header__nav__menu__item:nth-child(6) {
    transition-delay: 0.75s;
  }
  .contacts__footer__container {
    flex-direction: column;
    align-items: center;
  }
  .contacts__footer__container__column {
    margin-bottom: 1rem;
  }
}/*# sourceMappingURL=result.css.map */