body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  display: flex;
  margin-top: 0;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background: #004d40;
  padding: 1rem 2rem;
  color: #fff;
  position: fixed;
  top: 0; /* Ensure the header is at the top */
  z-index: 2;
  width: 100%; /* Full-width */
}
.header__nav__menu {
  display: flex;
  list-style: none;
  flex-direction: row;
  justify-content: center;
  gap: 3vw;
  margin-right: 25%;
}
.header__nav__menu__item {
  font-size: 2vw;
}

.container {
  margin-top: 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.profile {
  width: 100%;
  max-width: 800px;
  background: #f9f9f9;
  margin-bottom: 20px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.Rector {
  background: #007bff;
  color: white;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

.profile img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
  margin-bottom: 10px;
}

.profile h2 {
  font-size: 1.8rem;
  margin: 0;
}

.profile h3 {
  font-size: 1.2rem;
  color: #555;
  margin: 5px 0;
}

.profile p {
  font-size: 1rem;
  color: #333;
}

.nav {
  background: #007bff;
  padding: 10px;
  display: flex;
  justify-content: center;
}

.nav a {
  color: white;
  text-decoration: none;
  padding: 10px 15px;
  position: relative;
  font-size: 1.8vw;
}

.nav a:hover {
  background: #0056b3;
}

.dropdown {
  display: none;
  position: absolute;
  background: #f9f9f9;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}

.nav a:hover .dropdown {
  display: block;
}

.dropdown a {
  color: #333;
  padding: 10px;
  display: block;
}

.dropdown a:hover {
  background: #ddd;
}

.footer {
  text-align: center;
  padding: 1rem 1rem;
  background: #004d40;
  color: #fff;
  margin-top: auto;
  width: 100%;
  margin-left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer__links {
  display: flex;
  gap: 1.5rem;
  margin-bottom: 1rem;
}

a {
  color: #ffd54f;
  text-decoration: none;
  transition: color 0.3s;
}

a:hover {
  color: #fff;
}

p {
  margin: 0;
}

@media screen and (max-width: 768px) {
  .header {
    height: 10vh;
    display: flex;
    justify-content: center;
    width: 88%;
    align-items: center;
    right: 3%;
    left: 0;
  }
  .header__logo {
    display: block;
    align-items: right;
    position: absolute;
    z-index: 3;
    right: 1rem;
    top: 1rem;
    height: 20px;
    width: 28px;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
  }
  .header__logo__burger {
    display: block;
    position: absolute;
    right: 0;
    top: 0.5rem;
    width: 28px;
    height: 3px;
    background-color: #272727;
    transition: all 0.5s ease-in-out;
    z-index: 2;
  }
  .header__logo__burger::before {
    content: "";
    position: absolute;
    top: -8px;
    width: 28px;
    height: 3px;
    background-color: #272727;
    transition: all 0.5s ease-in-out;
  }
  .header__logo__burger::after {
    content: "";
    position: absolute;
    top: 8px;
    width: 28px;
    height: 3px;
    background-color: #272727;
    transition: all 0.5s ease-in-out;
  }
  .header__logo__burger.open {
    transform: rotate(720deg);
    background: transparent;
  }
  .header__logo__burger.open::before {
    transform: rotate(45deg) translate(5px, 8px);
  }
  .header__logo__burger.open::after {
    width: 28px;
    transform: rotate(-45deg) translate(3px, -7px);
  }
  .header__nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    opacity: 0.98;
    visibility: hidden;
  }
  .header__nav.open {
    visibility: visible;
  }
  .header__nav__menu {
    margin-left: 30%;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: right;
    width: 70vw;
    height: 100vh;
    gap: 0.3vh;
    overflow: hidden;
    background-color: #2c3e50;
    list-style-type: none;
    padding-right: 1rem;
    transform: translateY(-100%);
    transition: all 0.5s ease-in-out;
  }
  .header__nav__menu.open {
    transform: translateY(0);
  }
  .header__nav__menu__item {
    transform: translateX(100vw);
    transition: all 0.5s ease-in-out;
  }
  .header__nav__menu__item.open {
    transform: translateX(0);
  }
  .header__nav__menu__item.active > a {
    color: #1abc9c;
  }
  .header__nav__menu__item__link {
    width: auto;
    display: inline-block;
    font-size: 1rem;
    text-transform: uppercase;
    padding: 1.5rem 0;
    font-weight: 600;
    transition: all 0.5s ease-in-out;
  }
  .header__nav__menu__item__link:hover {
    color: #1abc9c;
  }
  .header__nav__menu__item:nth-child(1) {
    transition-delay: 0.25s;
  }
  .header__nav__menu__item:nth-child(2) {
    transition-delay: 0.35s;
  }
  .header__nav__menu__item:nth-child(3) {
    transition-delay: 0.45s;
  }
  .header__nav__menu__item:nth-child(4) {
    transition-delay: 0.55s;
  }
  .header__nav__menu__item:nth-child(5) {
    transition-delay: 0.65s;
  }
  .header__nav__menu__item:nth-child(6) {
    transition-delay: 0.75s;
  }
  .footer {
    padding: 1rem 0.5rem;
  }
  .footer__links {
    flex-direction: column;
    gap: 0.5rem;
  }
  .container {
    margin-top: 15%;
  }
}/*# sourceMappingURL=staff.css.map */