$burger-color:#272727;
$primary-color: #2c3e50;
$secondary-color: #1abc9c;
@mixin transition-ease{
  transition: all 0.5s ease-in-out;
}
// Reset some default styles
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

// Body and basic styles
body {
  font-family: 'Arial', sans-serif;
  background-color: #f9f9f9;
  color: #333;
}

h1, h2 {
  color: #333;
  margin-bottom: 1rem;
}

a {
  text-decoration: none;
  color: #3498db;
}

// Navigation styling
.header {
  display: flex;
  margin-top: 0;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background: rgb(21, 34, 78);
  padding:1.3rem 2rem;
  color: #fff;
  position: fixed;
  top: 0; /* Ensure the header is at the top */
  z-index: 2;
  width: 100%; /* Full-width */
  overflow: hidden;

  &__nav__menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 4vw;
    align-items: end;
    margin-left: 8%;
    list-style: none;

    &__item{
      &__link{
        font-size: 2vw;
        font-weight: 500;
        color: white;

        &:hover{
          color: $secondary-color;
          @include transition-ease;
        }
      }
    }
  }
}
// Page sections
section {
  padding: 2rem 1rem;
  max-width: 1200px;
  margin: 10% auto;
}
.gallery {
  background-color: white;
  border-radius: 8px;
  padding: 2rem;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  margin-bottom: 2rem;

  h1{
    text-align: center;
    font-weight: 600;
    color: rgb(21, 37, 111);
  }
  p{
    font-size: 1.8vw;
    justify-content: center;
  }

  &-grid{
    margin-top: 4.5%;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    gap:8vh;
    list-style-type: none;
  }
  &-item{
    height: 55vh;
    width: 40%;
    margin: 2% 30%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    img{
      height: 45vh;
      width: 100%;
      border-radius: 10px;
    }
    p{
      margin-top: 4%;
      margin-left: 2%;
      font-weight: 600;
    }
  }
}
#about{
  background-color: white;
  border-radius: 8px;
  padding: 2rem;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  margin-bottom: 2rem;
}
#staff{
  background-color: white;
  border-radius: 8px;
  padding: 2rem;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  margin-bottom: 2rem;
}
#calendar{
  background-color: white;
  border-radius: 8px;
  padding: 2rem;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  margin-bottom: 2rem;
}
#contact{
  background-color: white;
  border-radius: 8px;
  padding: 2rem;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  margin-bottom: 2rem;
}
#blog{
  background-color: white;
  border-radius: 8px;
  padding: 2rem;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  margin-bottom: 2rem;
}
// Form styles
form {
  display: flex;
  flex-direction: column;
}

label {
  margin: 0.5rem 0;
}

input, textarea {
  padding: 0.8rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 1rem;
}

button {
  padding: 0.8rem;
  background-color: #3498db;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #2980b9;
}

// Blog specific styles
.blog-post {
  margin-bottom: 2rem;
}

.blog-post h2 {
  font-size: 1.8rem;
}

.blog-post p {
  font-size: 1.1rem;
  margin-bottom: 1rem;
}

.blog-post a {
  font-size: 1.1rem;
  font-weight: bold;
  color: #3498db;
}

// Footer styling
footer {
  text-align: center;
  padding: 1rem;
  background-color: #2c3e50;
  color: white;
}

// Media queries
@media (max-width: 768px) {
  nav ul {
    flex-direction: column;
    align-items: center;
  }

  section {
    padding: 1rem;
  }

  .blog-post {
    padding: 1rem;
  }
}

@media (max-width: 768px) {
  .header{
    height: 10vh;
    display: flex;
    justify-content: center;
    width: 100%;
    align-items: center;
    background-color:  rgb(21, 34, 78);
    right: 3%;
    left: 0;

    &__logo{
      display: block;
      align-items: right;
      position: absolute;
      z-index: 3;
      right: 1rem;
      top: 1rem;
      height: 20px;
      width: 28px;
      cursor: pointer;
      @include transition-ease;

      &__burger{
        display: block;
        position: absolute;
        right: 0;
        top: 0.5rem;
        width: 28px;
        height: 3px;
        background-color: white;
        @include transition-ease;
        z-index: 2;

        &::before{
          content: '';
          position: absolute;
          top: -8px;
          width: 28px;
          height: 3px;
          background-color: white;
          @include transition-ease;
        }

        &::after{
          content: '';
          position: absolute;
          top: 8px;
          width: 28px;
          height: 3px;
          background-color: white;
          @include transition-ease;
        }

        &.open{
          transform: rotate(720deg);
          background: transparent;

          &::before{
            transform: rotate(45deg) translate(5px, 8px);

          }
          &::after{
            width: 28px;
            transform: rotate(-45deg) translate(3px, -7px);
          }
        }
      }
    }

    &__nav{
      position: fixed;
      top: 0;
      left: 0;
      width: 100vw;
      opacity: 0.98;
      visibility: hidden;

      &.open{
        visibility: visible;
      }

      &__menu{
        margin-left: 30%;
        display: flex;
        flex-flow: column wrap;
        align-items: center;
        justify-content: right;
        width: 70vw;
        height: 100vh;
        gap: 0.3vh;
        overflow: hidden;
        background-color: rgb(21, 34, 78);
        list-style-type: none;
        padding-right: 1rem;
        transform: translateY(-100%);
        @include transition-ease;

        &.open{
          transform: translateY(0);
        }

        &__item{
          transform: translateX(100vw);
          @include transition-ease;
          &.open{
            transform: translateX(0);
          }

          &.active > a {
            color: $secondary-color;
          }
          &__link{
            width: auto;
            display: inline-block;
            font-size: 1rem;
            text-transform: uppercase;
            padding: 0.6rem 0;
            font-weight: 600;
            // border: 2px solid red;
            @include transition-ease;
            &:hover{
              color: $secondary-color;
            }
          }
        }
      }
    }
  }

  @for $i from 1 through 7{

    .header__nav__menu__item:nth-child(#{$i}){
      transition-delay: ($i *0.2s) + 0.15s;
    }
  } 
  .gallery {
    background-color: rgb(237, 238, 240);
    border-radius: 8px;
    padding: 0.1rem;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin-bottom: 2rem;
    width: 100%;
  
    h1{
      margin-top: 2%;
      text-align: center;
      font-weight: 600;
      color: rgb(21, 37, 111);
    }
    p{
      font-size: 3vw;
      justify-content: center;
      text-align: center;
    }
  
    &-grid{
      margin-top: 4.5%;
      display: flex;
      flex-flow: column wrap;
      justify-content: center;
      align-items: center;
      gap:8vh;
      list-style-type: none;
    }
    &-item{
      height: 55vh;
      width: 100%;
      margin: 2% 2%;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      border-radius: 10px;
      img{
        height: 45vh;
        width: 96%;
        border-radius: 10px;
      }
      p{
        margin-top: 4%;
        font-weight: 600;
        font-size: 3vw;
        text-align: center;
        color: rgb(21, 34, 78);
      }
    }
  }
}
